<mat-card>
    <div class="grid p-2">
    
        <div class="col-12  md:col-6">
            <p-galleria [value]="images" [numVisible]="3" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }">
                <ng-template pTemplate="item" let-item>
                    <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </ng-template>
            </p-galleria>
        </div>
    
        <div class="col-12 md:col-6">
            
        </div>
    </div>
   
</mat-card>

